{
  "parser": "typescript-eslint-parser",
  "extends": "airbnb-base",
  "plugins": ["typescript"],
  "rules": {
    "linebreak-style": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "prefer-destructuring": 0,
    "no-restricted-globals": 0
  }
}
